@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Available streams:
<div id="streamList">
    <ul position="absolute">
        <li>No streams available</li>
    </ul>
</div>

Stream name: <input type="textbox" id="streamName" value="" />
<input type="button" id="startStream" value="Start streaming" />
<input type="button" id="stopStream" value="Stop streaming" disabled />
<input type="button" id="swapCamera" value="Swap Camera" disabled />

<pre id="myPre"></pre>
<canvas id="myCanvas"></canvas>

<script src="~/ClientApp/lib/signalr/signalr.js"></script>
<script src="~/ClientApp/lib/ascii.js"></script>
<script src="~/ClientApp/lib/camera.js"></script>
<script src="~/ClientApp/js/site.js"></script>